.bg-main {
  background-image: url("../img/pattern-pic.png");
  background-repeat: repeat;
}

.container {
  &--large {
    @media (min-width: 1500px) {
      max-width: 1400px;
    }
  }
}

p {
  font-size: 1rem;
  line-height: 2rem;
  color: #000000;
}
