.university {
  padding: 1rem 0;
  .university-heading {
    position: relative;
    .university-heading-bg {
      height: 120px;
      width: 214px;
    }
    .university-heading-text {
      position: absolute;
      color: $white;
      font-size: 1.4rem;
      top: 46px;
      left: 24px;
    }
  }

  .university-content {
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #000000;
    .university-content-subheading {
      padding: 2rem 0;
      height: 8rem;
      margin-bottom: 1rem;
      color: $black;
      img {
        float: left;
        height: 5rem;
        width: 5rem;
        padding: 0.5rem;
      }
      h3 {
        position: relative;
        top: 1.2rem;
        left: 0.8rem;
        font-weight: bold;
        padding-left: 0.5rem;
      }
    }
    .university-course {
      .university-content-tag {
        background-color: $yellow;
        border-radius: 20px;
        color: $white;
        display: inline-block;
        padding: 1rem 2rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
        margin-left: 1rem;
      }
      p, ul {
        margin-left: 1rem;
      }
      .university-course-list {
        list-style: none;
        padding: 0;
        .list-item {
          margin: 0.5rem 0;
          .list-indicator {
            height: 1.125rem;
            width: 1.125rem;
            margin-top: -0.4rem;
            margin-right: 0.8rem;
          }
        }
      }
    }

  }

  @media (min-width: 992px) {
    .university-heading {
      .university-heading-bg {
        height: 200px;
        width: 356.8px;
      }
      .university-heading-text {
        font-size: 2rem;
        top: 80px;
        left: 54px;
      }
    }

    .university-content {
      font-size: 1.6rem;
      line-height: 2.6rem;
      //height: 299px;
      overflow-y: auto;
      max-height: 1480px;
      .university-content-subheading {
        img {
          height: 6rem;
          width: 6rem;
          padding: 0.5rem;
          margin-top: -0.5rem;
        }
        h3 {
          font-size: 2rem;
          font-weight: bold;
          padding-left: 1rem;
        }
      }
      .university-course {
        .university-content-tag {
          margin-left: 6.5rem;
          margin-top: 1rem;
        }
        p, ul {
          margin-left: 6.5rem;
        }
      }

    }

  }

  @media (min-width: 1200px) {
    .university-content {
      max-height: 1330px;
    }
  }

  @media (min-width: 1500px) {
    .university-content {
      max-height: 1110px;
    }
  }
}
